<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymx.fbms.mapper.CourseMapper">
    <resultMap id="courseAndTeacherMap" type="com.ymx.fbms.pojo.Course">
        <id property="courseNo" column="course_no"/>
        <result property="courseName" column="course_name"/>
        <result property="credits" column="credits"/>
        <association property="user" javaType="com.ymx.fbms.pojo.User">
            <id property="userId" column="user_id"/>
            <result property="username" column="username"/>
            <result property="userEmail" column="user_email"/>
            <result property="userPhone" column="user_phone"/>
            <result property="userAddress" column="user_address"/>
        </association>
    </resultMap>
    <insert id="addCourse">
        insert into course values (#{course.courseNo}, #{course.courseName}, #{course.credits}, #{course.user.userId})
    </insert>

    <update id="updateTeacherId">
        update course
        set teacher_id = #{course.user.userId}
        where course_no = #{course.courseNo}
    </update>

    <delete id="deleteByNo">
        delete from course where course_no = #{course.courseNo}
    </delete>

    <select id="getCourseByCourseNameLike" resultMap="courseAndTeacherMap">
        select * from course left join user on course.teacher_id = user.user_id where course.course_name like concat('%', #{courseName}, '%')
    </select>

    <select id="getAllCourseName" resultType="java.lang.String">
        select distinct(course_name) from course;
    </select>

    <select id="getNoByCourseName" resultType="java.lang.Integer">
        select course_no from course where course_name = #{courseName}
    </select>

</mapper>