<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymx.fbms.mapper.UserMapper">
    <select id="getUserByUsernameLike" resultType="com.ymx.fbms.pojo.User">
        select * from user where username like concat('%', #{username}, '%') and user_role = #{userRole}
    </select>

    <select id="selectUserByUsernameAndPassword" resultType="com.ymx.fbms.pojo.User">
        select * from user where username = #{user.username} and password = #{user.password};
    </select>

    <select id="getAllUserAddress" resultType="java.lang.String">
        select distinct(user_address) from user
    </select>

    <select id="getUserAddressCount" resultType="java.lang.Integer">
        SELECT count(user_address) from user where user_address = #{userAddress}
    </select>

    <select id="getUserNum" resultType="java.lang.Integer">
        SELECT count(user_id) from user
    </select>

    <select id="getUserById" resultType="com.ymx.fbms.pojo.User">
        select * from user where user_id = #{userId}
    </select>

    <insert id="addUser">
        insert into user values (null, #{user.username}, #{user.password}, #{user.userEmail}, #{user.userPhone}, #{user.userAddress}, #{user.userRole}, #{user.userProfile})
    </insert>

    <update id="updateUser">
        update user
        set username = #{user.username}, password = #{user.password}, user_email = #{user.userEmail}, user_phone = #{user.userPhone}, user_address = #{user.userAddress}, user_role = #{user.userRole}, user_profile = #{user.userProfile}
        where user_id = #{user.userId}
    </update>

    <delete id="deleteById">
        delete from user where user_id = #{user.userId}
    </delete>

    <delete id="deleteBatchByIds">
        delete from user where user_id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        )
    </delete>

</mapper>
